#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.pokemon__container {
  display: flex;
}

.pokemon__list-container {
  margin-right: 50px;
}

.pokemon__list,
.pokemon__details-list {
  list-style: none;
  padding: 0;
}

.pokemon__list-item {
  cursor: pointer;
  text-decoration: none;
  padding: 10px 0;
}

.pokemon__list-item:hover {
  background-color: rgb(60, 57, 57);
}

.pokemon__details {
  border: 1px solid white;
  padding: 0 20px;
  text-align: center;
}

.pokemon__details-list-item {
  text-decoration: none;
}
